/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 2em;
	}

	header.special {
		margin-bottom: 5em;
		padding-top: 7em;
		position: relative;
		text-align: center;
	}

		header.special:before, header.special:after {
			border-bottom: solid 1.5px;
			border-top: solid 1.5px;
			content: '';
			height: 7px;
			opacity: 0.1;
			position: absolute;
			top: 1.75em;
			width: 43%;
		}

		header.special:before {
			left: 0;
		}

		header.special:after {
			right: 0;
		}

		header.special h2 {
			margin: 0 auto;
			margin-bottom: 0;
			max-width: 32em;
			line-height: 1.75em;
			text-align: center;
		}

		header.special p {
			margin: 0 auto;
			max-width: 37em;
		}

		header.special h2 + p {
			margin-bottom: 0;
			padding-top: 1.5em;
		}

		header.special .icon {
			cursor: default;
			height: 7em;
			left: 0;
			position: absolute;
			text-align: center;
			top: 1em;
			width: 100%;
		}

			header.special .icon:before {
				font-size: 3.5em;
				opacity: 0.35;
			}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

@media screen and (max-width: 1280px) {
	header.major {
		padding-bottom: 1.5em;
	}

	footer.major {
		padding-top: 2em;
	}
}

@media screen and (max-width: 980px) {
	header br {
		display: none;
	}

	header.major {
		padding-bottom: 1em;
	}

	header.special {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	footer.major {
		padding-top: 1.5em;
	}
}

@media screen and (max-width: 840px) {
	header.major {
		padding-bottom: 0.25em;
	}

	header.special {
		margin-bottom: 4em;
		padding-top: 5em;
	}

	header.special:before,
	header.special:after {
		width: 40%;
	}

	header.special h2 + p {
		padding-top: 1.25em;
	}
}

@media screen and (max-width: 736px) {
	header.major {
		padding-bottom: 0;
	}

	header.special {
		margin-bottom: 3em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	header.special:before,
	header.special:after {
		width: 38%;
	}

	header.special .icon {
		font-size: 0.75em;
		top: 1.5em;
	}

	footer.major {
		padding-top: 0;
	}
}
