/* CTA */

#cta {
	background-attachment: scroll, scroll, scroll, fixed;
	background-color: var(--color-banner);
	background-image: url("/assets/css/images/light-tl.svg"), url("/assets/css/images/light-tr.svg"), url("/assets/css/images/overlay.png"), url("/images/banner.jpg");
	background-position: top left, top right, top left, bottom center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-size: 25em, 25em, auto, cover;
	color: var(--color-white);
	padding: 5em;
	text-align: center;
}

#cta header {
	margin-bottom: 2em;
}

@media screen and (max-width: 1280px) {
	#cta {
		padding: 4em;
		background-attachment: scroll;
	}
}

@media screen and (max-width: 980px) {
	#cta {
		background-size: 15em, 15em, auto, cover;
		padding: 3em;
	}
}

@media screen and (max-width: 840px) {
	#cta {
		margin: 0;
	}
}

@media screen and (max-width: 736px) {
	#cta {
		background-size: 10em, 10em, auto, cover;
		padding: 3em 1.5em;
	}
}
