/* Main */

#main {
	background-image: url("/assets/css/images/dark-tl.svg"), url("/assets/css/images/dark-tr.svg"), url("/assets/css/images/dark-bl.svg"), url("/assets/css/images/dark-br.svg");
	background-position: top left, top right, bottom left, bottom right;
	background-repeat: no-repeat;
	background-size: 25em;
	padding: 7em 0;
}

#main > :last-child {
	margin-bottom: 0;
}

#main .sidebar section {
	border-top: solid 1px var(--color-border);
	margin: 3em 0 0 0;
	padding: 3em 0 0 0;
}

#main .sidebar section:first-child {
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}

body.index #main {
	padding-top: 5em;
}

#main.left-sidebar-page {
	font-size: 0.95em;
}

@media screen and (max-width: 980px) {
	#main {
		background-size: 15em;
	}
}

@media screen and (max-width: 840px) {
	#main {
		padding: 5em 0;
	}

	#main .sidebar {
		border-top: solid 1px var(--color-border-soft);
		padding-top: 3em;
	}

	#main .sidebar section {
		border-top: 0;
		padding-top: 0;
	}

	body.index #main {
		padding-top: 4.5em;
	}
}

@media screen and (max-width: 736px) {
	#main {
		background-size: 10em;
		padding: 3.5em 0 2.5em 0;
	}

	body.index #main {
		padding: 2.5em 0 0 0;
	}

	body.contact #main {
		padding-bottom: 0;
	}
}
