/* Responsive layout overrides */

@media screen and (max-width: 840px) {
	html,
	body {
		overflow-x: hidden;
	}

	section {
		margin: 1em 0 1em 0;
	}

	section:first-child {
		margin-top: 0;
	}
}

@media screen and (max-width: 736px) {
	body {
		min-width: 320px;
	}

	h2 {
		font-size: 1.25em;
		letter-spacing: 0.1em;
	}

	h3 {
		font-size: 1em;
		letter-spacing: 0.025em;
	}

	p {
		text-align: justify;
	}

	header {
		text-align: center;
	}

	header p {
		text-align: center;
	}
}
