---
import Nav from './Nav.astro';
import { site } from '../../data/site';
const { headerType = "alt" } = Astro.props
---

<header id="header" class={headerType}>
	<h1 id="logo" set:html={site.name}>
		<a href="/"></a>
	</h1>
	<Nav />
</header>
