---
import '../../styles/sections/header.css';
import Nav from './Nav.astro';
import { site } from '../../data/site';
---

<header id="header" class="alt">
	<h1 id="logo">
		<a href="/">{site.name}</a>
	</h1>
	<Nav />
</header>
