---
import { navigation } from '../../data/navigation';
---

<nav id="nav" aria-label="Principal">
	<ul>
		{navigation.map((item) => (
			<li>
				<a href={item.href}>{item.label}</a>
			</li>
		))}
	</ul>
</nav>
