---
import { homePage } from '../../data/home';
import Icon from '../common/Icon.astro';

const section = homePage.sections.two;
---

<section class="wrapper style1 container special">
	<div class="row">
		{section.items.map((feature) => (
			<div class="col-4 col-12-narrower">
				<section>
					<Icon name="solid featured fa-check" label="Feature" />
					<header>
						<h3>{feature.title}</h3>
					</header>
					<p>{feature.description}</p>
				</section>
			</div>
		))}
	</div>
</section>
