---
import SectionTitle from '../common/SectionTitle.astro';
import { homePage } from '../../data/home';
---

<section class="wrapper style1 container special">
	<SectionTitle title={homePage.intro.title} description={homePage.intro.description} />
</section>
