---
import { homePage } from '../../data/home';
import Icon from '../common/Icon.astro';
---

<header class="special container">
	<Icon name="solid fa-chart-bar" />
	<h2>{homePage.intro.title}</h2>
	<p>{homePage.intro.description}</p>
</header>
