---
import SidebarCard from '../common/SidebarCard.astro';
import SidebarContent from './SidebarContent.astro';

interface Cta {
	href: string;
	label: string;
}

interface SidebarItem {
	title: string;
	description: string;
	image?: string;
	cta: Cta;
}

interface Content {
	title: string;
	image: string;
	paragraphs: string[];
}

interface Props {
	sidebar: SidebarItem[];
	content: Content;
}

const { sidebar, content } = Astro.props;
---

<section class="wrapper style4 container">
	<div class="row gtr-150">
		<div class="col-4 col-12-narrower">
			<div class="sidebar">
				{sidebar.map((item) => (
					<SidebarCard item={item} />
				))}
			</div>
		</div>
		<div class="col-8 col-12-narrower imp-narrower">
			<SidebarContent content={content} />
		</div>
	</div>
</section>
