---
import SectionTitle from '../common/SectionTitle.astro';
import { homePage } from '../../data/home';
---

<section class="wrapper style3 container special">
	<SectionTitle title={homePage.portfolio.title} description={homePage.portfolio.description} />
	<div class="row">
		{homePage.portfolio.items.map((item) => (
			<div class="col-6 col-12-narrower">
				<section>
					<h3>{item.title}</h3>
					<p>{item.description}</p>
				</section>
			</div>
		))}
	</div>
</section>
