---
import Icon from '../common/Icon.astro'

const { header } = Astro.props
---

<header class="special container">
	<Icon name={header.icon} label={header.title} />
	<h2 set:html={header.title} />
	<p>{header.description}</p>
</header>
