/* Estilos para los botones. */

ul.buttons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.buttons:last-child {
        margin-bottom: 0;
    }

    ul.buttons li {
        display: inline-block;
        padding: 0 0 0 1.5em;
    }

        ul.buttons li:first-child {
            padding: 0;
        }

    ul.buttons.stacked li {
        display: block;
        padding: 1.5em 0 0 0;
    }

        ul.buttons.stacked li:first-child {
            padding: 0;
        }

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: none;
    border: solid 1px;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
        background: var(--color-hover);
        border-color: inherit;
    }

    input[type="button"].primary,
    input[type="submit"].primary,
    input[type="reset"].primary,
    button.primary,
    .button.primary {
        background: var(--color-brand);
        border-color: var(--color-brand);
        color: var(--color-white) !important;
    }

        input[type="button"].primary:hover,
        input[type="submit"].primary:hover,
        input[type="reset"].primary:hover,
        button.primary:hover,
        .button.primary:hover {
            background: var(--color-brand-hover) !important;
            border-color: var(--color-brand-hover) !important;
        }

    input[type="button"].fit,
    input[type="submit"].fit,
    input[type="reset"].fit,
    button.fit,
    .button.fit {
        width: 100%;
    }

    input[type="button"].small,
    input[type="submit"].small,
    input[type="reset"].small,
    button.small,
    .button.small {
        font-size: 0.7em;
        min-width: 14em;
        padding: 0.5em 0;
    }

@media screen and (max-width: 840px) {
    input[type="button"].small,
    input[type="submit"].small,
    input[type="reset"].small,
    button.small,
    .button.small {
        font-size: 0.8em;
        min-width: 18em;
        padding: 0.75em 0;
    }

    ul.buttons li {
        display: block;
        padding: 1em 0 0 0;
    }
}

@media screen and (max-width: 736px) {
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    button,
    .button {
        max-width: 20em;
        width: 100%;
    }

    input[type="button"].fit,
    input[type="submit"].fit,
    input[type="reset"].fit,
    button.fit,
    .button.fit {
        width: auto;
    }

    ul.buttons {
        text-align: center;
    }
}
