/* Form */

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	-moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: none;
	border: solid 1px var(--color-border);
	border-radius: 0;
	color: inherit;
	display: block;
	padding: 0.75em;
	text-decoration: none;
	width: 100%;
	outline: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border-color: var(--color-brand);
}

input[type="text"],
input[type="password"],
input[type="email"] {
	line-height: 1em;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
	position: relative;
	top: 3px;
}

:-moz-placeholder {
	color: inherit;
	opacity: 0.5;
}

::-moz-placeholder {
	color: inherit;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 0.5;
}
