---
interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description,
} = Astro.props;
---

<header class="special container">
	<h2>{title}</h2>
	{description && <p>{description}</p>}
</header>
