---
import '../styles/globals.css';

interface Props {
	title?: string;
	bodyClass?: string;
}

const {
	title = 'Portafolio Personal',
	bodyClass = '',
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class={bodyClass}>
		<slot />
	</body>
</html>
