---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

interface Props {
	title?: string;
	bodyClass?: string;
	headerType?: string;
}

const {
	title,
	bodyClass = '',
	headerType = '',
} = Astro.props;
---

<BaseLayout title={title} bodyClass={bodyClass}>
	<div id="page-wrapper">
		<Header headerType={headerType} />
		<main>
			<slot />
		</main>
		<Footer />
	</div>
</BaseLayout>
